.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loginPage form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginPage input {
  width: 250px;
  padding: 8px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
  color: rgba(256, 256, 256, 0.8);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.loginPage input::-webkit-input-placeholder {
  color: rgba(256, 256, 256, 0.5);
  font-size: 1rem;
}

.loginPage button {
  position: absolute;
  bottom: -40px;
  right: -25px;
  align-self: flex-end;
  padding: 0;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: rgba(256, 256, 256, 0.6);
}
