.modal {
  width: 100vw;
  height: 105vh;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0 , 0, 0.7);
}

.modal div {
  position: relative;
  display: flex;
  padding: 40px 20px 20px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 500px;
  margin: 100px auto;
  background-color: rgba(256, 256, 256, 1);
  border-radius: 20px;
}

.modal textarea {
  padding: 10px;
  max-width: 100%;
  min-width: 100%;
  height: 100px;
  outline: none;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.editBtn {
  display: inline-block;
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0.9);
  border: none;
  border-radius: 5px;
  color: rgba(256, 256, 256, 0.8);
  cursor: pointer;
}