.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0 , 0, 0.7);
}

.modal div {
  position: relative;
  width: 500px;
  height: 100px;
  margin: 100px auto;
  background-color: rgba(256, 256, 256, 1);
  border-radius: 20px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}