@import '../../../styles/constants';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px $mainIndent;
  background-color: #212529;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.95rem;
}

.link {
  position: absolute;
  left: 16px;
  top: 20px;
}

.info {
  display: flex;
}

.info div {
  margin-right: 25px;
}

.title {
  font-weight: bold;
  color: #ffffff
}

@media screen and (min-width: 681px) {
  .header {
    padding: 20px $mainIndent681;
  }
}

@media screen and (min-width: 1001px) {
  .header {
    padding: 20px $mainIndent1001;
  }
}

@media screen and (min-width: 1551px) {
  .header {
    padding: 20px $mainIndent1551;
  }
}