.item {
  display: grid;
  grid-template-columns: 2fr 3fr auto;
  padding: 16px;
  box-shadow: inset 1px 1px rgb(255 255 255 / 20%),
  inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
  background-color: transparent;
  background-image: linear-gradient(125deg,rgba(255,255,255,.3),rgba(255,255,255,.2) 70%);
  border-radius: 0.5rem;
  color: rgba(256, 256, 256, 0.7);
}

.item span:first-child {
  color: rgba(256, 256, 256, 1);
  font-weight: bold;
}

.item button {
  margin-left: 15px;
  padding: 0;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.2);
}

.item button:hover {
  color: rgba(256, 256, 256, 0.8)
}