@import '../../../styles/mixins';

.item {
  text-align: right;
}

.item > div {
  @include message;
  padding: 32px 16px 8px 16px;
  text-align: left;
}

.panel {
  position: absolute;
  right: 16px;
  top: 16px
}

.panel button {
  margin-left: 15px;
  padding: 0;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.2);
}

.panel button:hover {
  color: rgba(255, 255, 255, 0.8);
}

.text {
  margin: 5px 0;
  color: rgba(255, 255, 255, 0.8);
  white-space: pre-line;
}

.info {
  text-align: right;
}

.info span {
  margin-left: 5px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 681px) {
  .item > div {
    max-width: $maxWidth681;
    min-width: $minWidth681;
  }
}