.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1001px) {
  .chat {
    background: url("../../../assets/plain.png") no-repeat bottom 5px left 5px / 300px;
  }
}