@import '../../../styles/constants';

.list {
  margin: 0 $mainIndent;
  padding: 0 20px;
  height: calc(100vh - 140px);
  flex-direction: column;
  overflow: scroll;
}

.list h4 {
  margin: 16px 0;
  color: rgba(256, 256, 256, 0.8);
  font-size: 0.9rem;
  text-align: center;
}

.messageList li {
  margin: 16px 0;
}

@media screen and (min-width: 681px) {
  .list {
    margin: 0 $mainIndent681;
    padding: 0 50px;
  }
}

@media screen and (min-width: 1001px) {
  .list {
    margin: 0 $mainIndent1001;
    padding: 0 50px;
  }
}

@media screen and (min-width: 1551px) {
  .list {
    margin: 0 $mainIndent1551;
    padding: 0 50px;
  }
}