@import '../../../styles/mixins';

.item > div {
  @include message;
  padding: 16px 16px 8px 50px;
}

.item button {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  background: none;
  border: none;
  font-size: 18px;
}

.item img {
  position: absolute;
  top: -10px;
  left: -20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.name {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.text {
  margin: 5px 0;
  color: rgba(255, 255, 255, 0.8);
}

.info {
  text-align: right;
}

.info span {
  margin-left: 5px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
}

.liked {
  color: #dc307c;
}

@media screen and (min-width: 681px) {
  .item > div {
    max-width: $maxWidth681;
    min-width: $minWidth681;
  }
}