@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 360px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #5e62b0 linear-gradient(90deg, #33b7e2, #5e62b0, #dc307c);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}

html,
#root,
.fill {
  width: 100%;
  height: 100%;
}

a {
  color: #4183c4;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0;
}

.message-like path {
  color: rgba(0, 0, 0, 0.1);
}

.message-liked path {
  color: rgba(220, 48, 124, 0.7);
}